---
import FaqOne from "@/components/faqs/FaqOne.astro";
import FeatureOne from "@/components/features/FeatureOne.astro";
import FeatureSix from "@/components/features/FeatureSix.astro";
import Submit from "@/components/forms/Submit.astro";
import PricingOne from "@/components/pricing/PricingOne.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 mt-24 z-50 items-center md:flex justify-around"
    >
      <div
        class="lg:pr-24 md:pr-12 pb-12 lg:pb-0 max-w-xl text-center md:text-left"
      >
        <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
          >MAKE THE WORLD A BETTER PLACE</span
        >
        <h2
          class="text-purple-900 font-semibold mt-6 text-4xl lg:text-7xl tracking-tight"
        >
          Your Vendure Implementation Studio
        </h2>
        <p class="text-slate-500 mt-5 lg:text-balance">
          We help you build and run your online store with Vendure. Our aim is
          to create an ecosystem that lasts and a community that grows.
        </p>
      </div>
      <div class="flex justify-center">
        <img
          src="/public/images/vendure-silver.svg"
          class="w-60 h-60 z-50"
          alt=""
        />
      </div>
    </div>

    <section>
      <div
        class="h-64 justify-center lg:px-0 max-h-full md:px-12 overflow-hidden relativ -skew-y-[16deg] transform mb-24"
      >
        <div class="bg-white block lg:flex-1 lg:relative sm:contents">
          <div class="bg-white absolute h-full inset-0 object-cover w-full">
            <video
              autoplay=""
              class="bg-white absolute max-w-none min-h-full min-w-full w-auto z-10"
              loop=""
              muted=""
              ><source src="/images/gradientB.mp4" type="video/mp4" />Yours
              browser does not support the video tag.</video
            >
          </div>
        </div>
      </div>
    </section>
  </section>

  <section>
    <FeatureOne/>
    <PricingOne />
    <Submit />
    <FaqOne />
    <FeatureSix />
  </section>
</BaseLayout>
