---
import { Code } from "astro/components";
// Define the features data
const features = [
  {
    title: "Customizable",
    description:
      "Vendure is highly customizable, so it can be tailored to your specific needs.",
  },
  {
    title: "Future proof",
    description: "Vendure is headless, so we can always replace the look and feel of your storefront, without changing platforms.",
  },
  {
    title: "Community",
    description: "Vendure has an active community, support is always available. We value community, so we give back as much as we can.",
  },
  {
    title: "Open source",
    description: "It's open source, so the community as a whole improves the platform faster. The same goes for our plugins",
  },
];
---

<section class="relative overflow-hidden" id="why-vendure">
  <div class="bg-purple-900 max-w-7xl mx-auto rounded-3xl">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:gap-24 items-start">
        <div>
          <span
            class="text-sm font-medium text-slate-300 tracking-wide uppercase"
            >Open source</span
          >
          <h2
            class="text-white font-semibold tracking-tight lg:text-5xl mt-6 text-3xl"
          >
            Why Vendure?
          </h2>
          <p class="text-slate-300 mt-5 text-balance">
            We build software with Vendure because it's open source and ensures
            great quality. We love the community, so we give back by sharing
            our knowledge and improvements via 
            <a class="text-blue-500 hover:text-blue-600" href="https://pinelab-plugins.com/#plugins">plugins</a>
            and
            <a class="text-blue-500 hover:text-blue-600" href="/recipes">recipes</a>
            <br />
            <br />
            We value expertise and specialism, so we only focus on building e-commerce solutions with Vendure, nothing else.
          </p>
          <ul
            role="list"
            class="grid grid-cols-2 gap-4 list-none lg:gap-6 mt-12"
          >
            {
              features.map((feature) => (
                <li>
                  <p class="font-semibold text-white text-base">
                    {feature.title}
                  </p>
                  <div class="mt-2 text-slate-400 text-sm">
                    {feature.description}
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="lg:mt-0 mt-12 h-full">
          <div
            class="relative lg:rounded-3xl lg:p-10 text-white"
          >
            <div class="relative w-full mt-2 content">
              <div
                :id="$id(tabId + '-content')"
                x-show="tabContentActive($el)"
                class="relative"
              >
                <!-- Tab Content 1 - Replace with your content -->
                <section
                  class="text-xs font-mono shadow-3xl mt-4 rounded-2xl overflowhidden h-full bg-[#14162a] p-4"
                >
                  <Code
                    code={`
// Easily customize your shipping needs
// with one of our plugins

import { ShippingExtensionsPlugin } from 
   "@pinelab/vendure-plugin-shipping-extensions";

plugins: [
    ShippingExtensionsPlugin.init({
      weightUnit: "kg",
    }),
    AdminUiPlugin.init({
        app: compileUiExtensions({
          extensions: [
              ShippingExtensionsPlugin.ui
            ],
        }),
      })
]
`}
                    lang="ts"
                    theme="css-variables"
                  />
                </section>
                <!-- End Tab Content 1 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
