---
const topFeatures = [
  {
    title: "Prebuilt integrations",
    description:
      "Municipal management performance corporate investment grade bonds.",
  },
  {
    title: "Tools for every stack",
    description:
      "Corporate bonds debt fiat risk return municipal retirement interest rate.",
  },
  {
    title: "Prebuilt integrations",
    description:
      "Municipal management performance corporate investment grade bonds.",
  },
  {
    title: "Tools for every stack",
    description:
      "Corporate bonds debt fiat risk return municipal retirement interest rate.",
  },
];

const featureList = [
  {
    title: "Features",
    items: [
      "Configurable products",
      "Blazing fast search",
      "Customizable invoices",
      "Multiple storefronts with a single admin",
      "Integration with accounting platforms",
      "Shipping label printing",
      "A single UI to maintain option prices",
    ],
  },
];
---

<section id="features">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="max-w-xl">
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">colourgraphics.com</span>
      </h2>

      <h2
        class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
        Showcase: Colour Graphics
      </h2>
      <p class="text-slate-500 mt-4 lg:text-balance">
        We've built the new website for one of UK's top digital printing companies, using Vendure and Astro.
      </p>

    </div>

    <div class="grid grid-cols-1 items-start md:grid-cols-2 mt-6 lg:mt-24">
      <div class="lg:pr-24 md:pr-12">
        <ul
          role="list"
          class="list-none">
          {
            featureList.map((feature) => (
              <li>
                <p class="mt-0 font-semibold text-purple-900 text-2xl">
                  {feature.title}
                </p>
                <div class="mt-5">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                    {feature.items.map((item) => (
                      <li class="flex items-start gap-2">
                        <span>⏤</span> {item}
                      </li>
                    ))}
                  </ul>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 h-full">
        <img
          src="/images/appScreen8.png"
          alt="thumbnail"
          class="drop-shadow-2xl"
        />
      </div>
    </div>

    <h2
    class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
    More showcases?
  </h2>
    <p class="text-slate-500 mt-4 lg:text-balance">
      We are busy building new stuff, so if you'd like to hear more about our projects 
      <a href="/contact/" class="text-blue-600 hover:text-blue-500">
      get in touch.
      </a>
    </p>
  </div>
</section>
