<section class="bg-white" id="contact-us">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="grid grid-cols-1 items-end md:grid-cols-2">
      <div class="lg:pr-24 md:pr-12">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">Contact us</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold mt-6 text-4xl lg:text-6xl tracking-tight">
          Contact us
        </h2>
        <p class="text-slate-500 mt-5">
          Request an estimate, ask a question, or just say hi. We'll get back to you within 24 hours.

          <br/><br/>
          Fill out the form, or send an email to 
          <a class="text-blue-600 hover:text-blue-500" href="mailto:niels@pinelab.studio">niels@pinelab.studio</a>.
        </p>
      </div>
      <form
      name="contact" netlify
        class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 border-slate-200">
        <div class="space-y-2">
          <div>
            <label
              for="work_email"
              class="sr-only"
              >Email Address</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="Email"
              required
            />
          </div>

          <div>
            <label
              for="project_details"
              class="sr-only"
              >Message</label
            >
            <textarea
              id="project_details"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="What would you like to discuss?"
              rows="4"
              name="message"
              required
            ></textarea>
          </div>

          <div class="col-span-full">
            <button
              class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-full"
              type="submit">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
